// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


// Green button links
@mixin green-button-link {
	background-color: $green;
	color: $white;
	font-family: 'novecento', sans-serif;
	text-transform: uppercase;
	font-size: .9rem;
	padding: 11px 22px;
	border: 1px solid $green;
}

// Gray button links
@mixin grey-button-link {
	font-family: 'novecento', sans-serif;
	text-transform: uppercase;
	font-size: .9rem;
	padding: 11px 22px;
	border: 1px solid $color__text-main;
	color: $color__text-main;
}

// Light gray border
@mixin gray-border {
	border: 1px solid #e1e1e1;
}

// uppercase
@mixin uppercase-font {
	font-family: 'novecento', sans-serif;
	text-transform: uppercase;
}
// Heading font
@mixin heading-font {
	font-family: 'novecento', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

// Flex site content
@mixin flex-site-content {
	.site-content {
	width: $site-width;
    margin: 0 auto;
    display: flex;
    }
}

@mixin content-area {
	.content-area {
        width: 73%;
        padding: 3rem 3rem 4rem 0;
        border-right: $grey_border;
        margin-top: 50px;
        padding: 3rem 3rem 4rem 0;
    }
}

@mixin grey-green-button {
	@include grey-button-link;
	margin-right: 5px;
	&:hover {
		@include green-button-link;
	}
}

@mixin white-yellow-link {
	color: $white;
	&:hover {
		color: $yellow;
	}
}

@mixin social-links {
	.product-social-links {
        display: flex;
        a {
            @include grey-green-button;
        }
    }
    .entry-footer {
        @include heading-font;
        letter-spacing: 0;
    }
    .cat-links {
        margin-right: 1.5rem;
    }
}
// Widget area
@mixin widget-area {
	.widget-area {
        margin-top: 33px;
        padding-top: 75px;
        i {
            padding-right: 10px;
        }
    }
	.widget {
		margin-bottom: 50px;
	}
}