/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


// edited:


.main-navigation {
	.nav-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1120px;
	padding: .2rem 0;
	}
	.menu-main-menu-container {
		display: flex;
		justify-content: flex-end;
	}
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	background-color: hsla(0,0%,100%,.85);
	border-bottom: 1px solid #e1e1e1;
	position: fixed;
	top: 0;
	z-index: 10;
	li {
		width: auto;
		margin: .5rem;
	}
	a {
		font-family: 'novecento';
		text-decoration: none;
		text-transform: uppercase;
		color: $green;
	}
	a:hover {
		color: $purple;
	}
	.logo {
		background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat center top;
		background-size: cover;
		width: 50px;
		height: 33px;
		align-self: center;
	}
	.nav-left-menu {
		display: flex;
	}
	.search-form {
		display: flex;
		fieldset {
			border: none;
			padding: 0;
			align-self: center;
		}
		label {
			display: flex;
		}
		button.search-submit {
			display: none;
		}
		input {
			border: none;
			font-family: 'novecento', sans-serif;
			text-transform: uppercase;
			padding: 0;
			outline: none;
			background: transparent;
			margin-left: 1rem;
		}
		.search-field {
			display: none;
		}
		i.fa-search {
			color: $green;
			margin-left: .5rem;
		}
	}
}




