/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.page-template-front-page {
    .product-list-style {
        ul {
            list-style: none;
            display: flex;
        }
    }
}







/* Journal */
.blog {
    .site-content {
    width: 1120px;
    margin: 0 auto;
    }
    .post {
        width: 750px;
    }
    .content-area {
    border-right: 1px solid #e1e1e1;
    padding: 55px 55px 55px 0;
    }
    .entry-header{
        position: relative;
        img {
            width: 100%;
        }
    }
    .entry-title {
        font-family: 'novecento', sans-serif;
        background-color: $green;
        font-size: 2.1rem;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 2px;
        line-height: 2.5rem;
        position: absolute;
        top: 10px;
        max-width: 75%;
        padding: .9rem 1.5rem;
        a {
            color: $white;
        }
    }
    .entry-meta {
        background-color: $green;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'novecento', sans-serif;
        color: $white;
        text-align: right;
        position: absolute;
        right: 0px;
        bottom: .5rem;
        padding: .2rem 1.5rem;
    }
}


/* About page */

.page-id-40 {
    .entry-header {
        background:	linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
        url('../../images/about-hero.jpg') no-repeat center bottom;
        background-size: cover, cover;
        height: 100vh;
    }
    .entry-title {
        font-family: 'novecento', sans-serif;
        font-size: 3rem;
        color: white;
        text-align: center;
    }
    .entry-content {
        width: 700px;
        margin: 0 auto;
        h2 {
            text-align: center;
            font-family: 'novecento', sans-serif;
            font-size: 2rem;
	    }
    }
}


/* Find Us */

.page-id-43 {
    .content-area {
        width: 750px;
        padding: 40px 55px 175px 0;
        border-right: 1px solid #e1e1e1;
    }
    .entry-title {
        font-family: 'novecento', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2.4rem;
        margin: 0;
    }
    .entry-content h2 {
        font-size: 2.1rem;
        font-family: 'novecento', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .wpcf7 {
        label {
            font-family: 'novecento', sans-serif;
            font-size: 1.1rem;
            text-transform: uppercase;
            margin-bottom: .3rem;
        }
        input[type=text],
        input[type=email],
        textarea {
            background-color: #f4f4f4;
            border: 1px solid #e1e1e1;
            border-radius: 0;
            font-family: 'merriweather', serif;
        }
        input[type=submit] {
            font-family: 'novecento', sans-serif;
            text-transform: uppercase;
            color: white;
            font-size: .9rem;
            background-color: $green;
            border: none;
            border-radius: 0;
            padding: 13px 30px;
            box-shadow: none;
            text-shadow: none;
        }
    }
}