/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	margin-top: 50px;
	padding: 3rem 0 3rem 3rem;
	width: 27%;
	/* Search widget */
	.widget_search {
	display: none;
	}
	.widget {
		margin: 0 0 $base__space-unit;
		padding-bottom: 1rem;
		/* Make sure select elements fit in widgets. */
		select {
			max-width: 100%;
		}
	}
	.widget-title, .widgettitle {
	@include heading-font;
	margin-top: 0;
	}
	/* Business Hours widget */
	.business-hours-widget-class {
		p {
			margin: 1rem 0;
		}
		.business-hours-day {
			font-weight: bold;
		}
	}
	/* Inhabitent Contact Info widget */
	.inhabitent-contact-info-class {
		.contact-phone,
		.contact-email,
		.contact-address {
			display: flex;
		}
		div.contact-email {
			margin: 1rem 0;
		}
		.contact-address p {
			&:first-child {
				margin: 0;
			}
			&:last-child {
				margin-top: 0;
			}
		}
		.contact-info-icon {
			width: 30px;
		}
	}
	/* Archive widget */
	.widget_archive {
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
		}
	}
}